{{#if fail}}<div class='alert alert-danger'>Passwords do not match. Please try again.</div>{{/if}}
<div class="container-fluid">
<div class="container bg-4 text-center">
  <h3>Change Your Password</h3>
  <form method="POST" action="/changepass/{{key}}" name="changepass">
    <input type='hidden' name='passwordchange' value='true'>
    <div class="row delete">
    <div class="col-lg-6">
        <label><strong>Current Password </strong></label>
    </div>
    <div class="col-lg-6">
      <div class='input-bar'>
        <input type="password" name="currentpassword" style='width 276px;'>
      </div>
    </div>
   </div>
   <div class="row delete">
    <div class="col-lg-6">
        <label><strong>New Password </strong></label>
    </div>
    <div class="col-lg-6">
      <div class='input-bar'>
        <input type="password" name="newpassword" style='width 276px;'>
      </div>
    </div>
   </div>
   <div class="row delete">
    <div class="col-lg-6">
        <label><strong>Confirm Password </strong></label>
    </div>
    <div class="col-lg-6">
      <div class='input-bar'>
        <input type="password" name="confirmpassword" style='width 276px;'>
      </div>
    </div>
   </div>
    <input type='submit' class="btn btn-primary" value='Submit'>
  </form>
</div>
</div>