<head>
  <title>Create Account -ScoreHoard</title>
</head>
  <div class="container-fluid">
  <div class="container bg-4 text-center">
   <h3>Create Account</h3>
  {{#if fail}}<div class="alert alert-danger">Your email address is already in the system. Please use a different email.</div>{{/if}}
  
   <form action="/create_account" method="POST">
   <div class="row delete">
    <div class="col-lg-6">
    <label>Email Address</label>
    </div>
    <div class="col-lg-6">
    <input type="email" name="login">
    </div>
    </div>
    <div class="row delete">
    <div class="col-lg-6">
    <label>Password</label>
    </div>
    <div class="col-lg-6">
    <input name='password' type='password'>
    </div>
    </div>
    <div class="row delete">
    <div class="col-lg-6">
    <label>Company name:</label>
    </div>
    <div class="col-lg-6">
    <input type='text' name="name">
    </div>
    </div>
    <div class="row delete">
    <div class="col-lg-12">
    <p>Public high scores.</p>
    </div>
    </div>
    <div class="row delete">
    <div class="col-lg-12">
    <p>Private options in premium subscriptions.</p>
    </div>
    </div>
    <div class="row delete">
    <div class="col-lg-12">
    <button class="btn btn-primary" type="submit">Submit</button>
    </div.
    </div>
  </form>
