<div class='box'>
  <form action="/create_account" method="POST">
    <label>Username:</label>
    <input type="text" name="username">
    <br>
    <label>Password:</label>
    <input name='password' type='password'>
    <br>
    <label>Email address:</label>
    <input type='email' name='email'>
    <br><br>
    <button type="submit">Submit</button>
  </form>
  <br>
  <a href='/'>Back home</a>
</div>
