<div class='box'>
  <div class="container-fluid">
  <div class="container bg-4 text-center">
    <h3>Creat Account</h3>
  {{#if fail}}<div class="alert alert-danger">Your email address is already in the system. Please use a different email.</div>{{/if}}
  <form action="/create_account" method="POST">
    <label><strong>Email address:</strong></label>
    <input type="email" name="login">
    <br>
    <label><strong>Password:</strong></label>
    <input name='password' type='password'>
    <br>
    <label><strong>Company name:</strong></label>
    <input type='text' name="name">
    <br>
    <button type="submit">Submit</button>
  </form>
