<div class='box'>
  <form action="/create_account" method="POST">
    <label>Email address:</label>
    <input type="text" name="login">
    <br>
    <label>Password:</label>
    <input name='password' type='password'>
    <br>
    <label>Company name:</label>
    <input type='text' name="name">
    <br>
    <label>Public high scores (private tables are a premium option)</label>
    <input type='checkbox' name='public' checked='true'>
    <br><br>
    <button type="submit">Submit</button>
  </form>
  <br>
  <a href='/'>Back home</a>
</div>
