
<html>
<header>
   <meta charset="utf-8">
  <title>Scorehoard</title>
  <link href="static/main.css" rel="stylesheet">
  <link href="static/media.css" rel="stylesheet">
</header>
<body>
  <h1 class='title1'>Scorehoard</h1>
  <div class='shell'>
  <div class='row1'>
    <h3 class='title2'>What we do</h3>
  </div>
  <div class='row2'>

  </div>
</div>
</body>
</html>
