<!-- Jumbotron -->
<div class="main-title row row3">
  <div class="col-lg-6 col-md-12">
    <h1 class 'brand'>ScoreHoard</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
    <div class='form-buttons'>
        {{#unless account}}
        <a href='/login' class="btn btn-lg btn-success">Sign In</a>
        <a href='/create_account' class="btn btn-lg btn-success">Sign Up</a>
        {{/unless}}
        {{#if account}}
        <a href='/console' class="btn btn-lg btn-success">Access Your Console</a>
        {{/if}}
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <img src='/static/images/monkey-text.png' class="test-img" alt='gorilla image' />
  </div>

</div>


<!-- Example row of columns -->
<div class="row1">
  <div class="C">
    <h2 class='master-plan'>What we do</h2>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked
      up one </p>
  </div>

</div>
<div class="row row2">
  <div class="col-lg-12" id='free'>
    <h2 class='free'>Sign up For Free</h2>
    <ul>
      <li>Cras justo odio, dapibus ac facilisis in</li>
      <li>Cras justo odio, dapibus ac facilisis in</li>
      <li>Cras justo odio, dapibus ac facilisis in</li>
    </ul>
    <ul>
      <li>Cras justo odio, dapibus ac facilisis in</li>
      <li>Cras justo odio, dapibus ac facilisis in</li>
      <li>Cras justo odio, dapibus ac facilisis in</li>
    </ul>
    <!-- <p><a class="btn btn-primary" href="#" role="button" id='button1'>Sign up &raquo;</a></p> -->
    <form method="POST" name="new_api">
      <input value='Sign up' type="submit" class="btn btn-lg btn-success">
    </form>

    {{key}}
    <!-- <a href="/login">Login here</a> -->
  </div>
    {{key}}
    <!-- <a href="/login">Login here</a> -->
  </div>
</div>
<div class="row2">
  <div class="col-md-12" id='demo'>
    <h2 class="title2">Try Our Demo</h2>
    <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
  </div>

</div>
<div class="row3">
  <div class="col-md-12" id='used'>
    <h2 class="title3">Used In</h2>
    <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
  </div>

</div>
<div class='floaty'></div>
