<div class="main-title row row3">
  <div class="col-lg-6 col-md-12">
    <h1 class 'brand'>ScoreHoard</h1>
    <p class="lead">Let ScoreHoard store your scoring data for you. Game makers can use the ScoreHoard API to avoid the hassles of database management. The ScoreHoard custom system allows direct access to style custom leaderboards and high scores table. Let your imagination take root in the ScoreHoard API to create special tracking dashboards.</p>
    <div class='form-buttons'>
        {{#unless account}}
        <div>
        <a href='/login' class="btn btn-lg btn-success">Log In</a>
      </div>
      <div>
        <a href='/create_account' class="btn btn-lg btn-success">Sign Up</a>
      </div>
        {{/unless}}
        {{#if account}}
        <a href='/console' class="btn btn-lg btn-success">Access Your Console</a>
        {{/if}}
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <img src='/static/images/monkey-text.png' class="test-img" alt='gorilla image' />
  </div>

</div>


<!--Row of columns -->
<div class="row1">
  <div class="C">
    <h2 class='master-plan'>What we do</h2>
    <p>ScoreHoard is an API that tracks scores for videogame makers. ScoreHoard allows gamers to send scores (and the usernames associated with the scores) directly into the ScoreHoard servers, quickly being integrated into our custom database. The ScoreHoard API allows you to receive your aggregate data in easily usable JSON.

</p>
  </div>

</div>
<div class="row row2">
  <div class="col-lg-12" id='free'>
    <h2 class='free'>Sign up For Free</h2>
    <div>
      <ul>
        <li>Cras justo odio, dapibus ac facilisis in</li>
        <li>Cras justo odio, dapibus ac facilisis in</li>
        <li>Cras justo odio, dapibus ac facilisis in</li>
      </ul>
      <ul>
        <li>Cras justo odio, dapibus ac facilisis in</li>
        <li>Cras justo odio, dapibus ac facilisis in</li>
        <li>Cras justo odio, dapibus ac facilisis in</li>
      </ul>
    </div>
    <div>
      <a href='/create_account' class="btn btn-lg btn-success btn-success2">Sign Up</a>
    </div>
  </div>
  </div>
</div>
<div class="row2">
  <div class="col-md-12" id='demo'>
    <h2 class="title2">Try Our Demo</h2>
    <p>Try to get a high score in the below game, and see ScoreHoard in action!</p>
    <iframe src="https://dk054ik0xmkow.cloudfront.net" height=500 width=320 id="demo_frame" name="demo_frame"></iframe>
  </div>

</div>
<div class="row3">
  <div class="col-md-12" id='used'>
    <h2 class="title3">Used In</h2>
    <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
  </div>

</div>
<div class='floaty'></div>

<style>
  #demo_frame {
    margin: 0;
    margin-left: 0;
    padding: 0;
    padding-left: 0;
    margin: auto;
  }
</style>
