<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ScoreHoard Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="static/main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
<!--NAVIGATION -->
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="static/images/monkey-47384_640.png" width="64" height="64">
        <a class="navbar-brand" href="#">ScoreHoard</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav"></ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Main</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="/downloads">Downloads</a></li>
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/create_account"><span class="glyphicon glyphicon-log-in"></span>Create Account</a></li>
          </ul>
        </div>
      </div>
    </nav>

<div class='jumbotron'>
  {{#if fail}}<p class='fail'>Username and password did not match. Please try again.</p>{{/if}}
  {{#if not_email}}<p>Please enter a valid email address</p>{{/if}}
  <form action="/login" method="POST">
    <label>Username:</label>
    <input type="text" name="login">
    <label>Password:</label>
    <input name='password' type='password'><br><br>
    <button class="btn btn-primary" type="submit">Log In</button>
  </form>
  <a href=''>No account? Create one here.</a> <br> <br>
</div>
