<head>
  <title>Login -ScoreHoard</title>
</head>
  <div class="container-fluid">
  <div class="container bg-4 text-center">
   <h3>Log In</h3>
   {{#if fail}}<div class='alert alert-danger'>Email and password did not match. Please try again.</div>{{/if}}
   {{#if invalid}}<div class='alert alert-danger'>Sorry, that email is not in our database. Create an account <a href='/create_account'>here.</a></div>{{/if}}

   <form action="/login" method="POST">  
   <div class="row delete">
    <div class="col-lg-6">
        <label>Email Address</label>
    </div>
    <div class="col-lg-6">
        <input type="text" name="login">
    </div>
   </div>


   <div class="row delete">
    <div class="col-lg-6">
     <label>Password</label>
    </div>
    <div class="col-lg-6">
     <input name='password' type='password'><br>
    </div>
   </div> 
   <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-primary" type="submit">Log In</button>
    </div>
   </div> 
    </form>
    <div class="row">
     <div class="col-lg-12">
      <a href=''>No account? Create one here.</a>
    </div>
   </div>
   </div>
 </div>
</div>
