/*body {
  background-image: url('images/bg1.jpg');
}
.title1{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 60;
}
.user{
  display: flex;
  float: right;
  margin-right: 60px;
  color: wheat;
}
.title2{
  display: flex;
  justify-content: center;
  font-size: 30;
  background-color: white;
  color: black;
}*/

/*bootstrap4*/
body {
  padding-top: 20px;

  padding: 0;
}
.masthead{
  z-index: 11;

}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
  margin: 0;
  color: #34495e;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  /*{background-color: rgb(29, 78, 113, 1);}*/
  background-color: #1D4E69;
  color: #fff;
  margin: 0;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.form-buttons{
  display: flex:
}

/* .navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}
  .navbar-nav .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  } */

 h2.master-plan{
  display: flex;
  justify-content: center;
  background-color: #273547;
  color: #fff;
  margin-top:
}
.C{
  background-color: #273547;
  color: #fff;
  text-align: center;
  padding: 70px;
}
h2.free{
  display: flex;
  justify-content: center;
  background-color: #206F9C;
  color: #fff;
}
#free {
  background-color: #206F9C;
  color: #fff;
  text-align: center;
  padding: 70px;
}
#button1{
  display: flex;
  justify-content: center;
}
h2.premium{
  display: flex;
  justify-content: center;
  background-color: #206F9C;
  color: #fff;
}
#premium{
  background-color: #206F9C;
  color: #fff;
  text-align: center;
  padding: 70px;
}
#button2{
  display: flex;
  justify-content: center;
}
h2.title2{
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #34495e;
}
.row2 > div{
  text-align: center;
  background-color: #fff;
  color: #34495e;
  padding: 70px;
}
h2.title3{
  display: flex;
  justify-content: center;
  background-color: #34495e;
  color: #fff;
}
#used {
  background-color: #34495e;
  color: #fff;
  text-align: center;
  padding: 70px;
}
.floaty{
  background-color: #206F9C;
  z-index: 5;
}
.btn-success{
  background-color: #b12828;
  border-color: #debd27;
  border-width: 3px;
}

/* STRIPE PAYMENT */
.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/* NAVIGATION */
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 2px
}

.navbar-nav li a:hover {
  color: #1abc9c;
}
/* Admin Page */
.bg-1 {
  padding: 20px;
}

.bg-2 {
  padding: 10px;
}
label {
  padding: 10px;
}