body {
  padding-top: 20px;

  padding: 0;
}

body.blue {
  background-color: #206F9C;
}

.masthead{
  z-index: 11;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
  margin: 0;
  color: #34495e;
}

/* Main marketing message and sign up button */
.main-title {
  text-align: center;
  background: rgb(29,78,105); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(29,78,105,1) 73%, rgba(29,78,105,1) 73%, rgba(63,76,107,1) 99%, rgba(63,76,107,1) 100%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(29,78,105,1) 73%,rgba(29,78,105,1) 73%,rgba(63,76,107,1) 99%,rgba(63,76,107,1) 100%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(29,78,105,1) 73%,rgba(29,78,105,1) 73%,rgba(63,76,107,1) 99%,rgba(63,76,107,1) 100%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*background-color: #1D4E69;*/
  color: #fff;
  margin: 0;
  padding: 70px;
}
h1{
  color:#fff;
  margin-bottom: 60px;
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}
p.lead{
  color:#fff;
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
  line-height: 2em;
}
.main-title .btn {
  padding: 14px 24px;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
}
.form-buttons{
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  margin-left: 40px;
}
.art-work{
  display: flex;
  justify-content: flex-end;
}
.mb-3{
  margin:0 !important;
}

/* NAVIGATION */

.navbar {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 2px;
}
.navbar-nav .nav-link{
  float: right;
}
.navbar-collapse#navbarsExampleDefault{
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.navbar-nav li a:hover {
  color: #1abc9c;
}

h2.master-plan {
  display: flex;
  justify-content: center;
  background-color: #273547;
  color: #fff;
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
}
.navbar-brand{
  margin-left: 30px;
}

.C {
  background-color: #273547;
  color: #fff;
  text-align: center;
  padding: 70px;
}

h2.free {
  display: flex;
  justify-content: center;
  background-color: #206F9C;
  color: #fff;
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
}
h3{
  margin-bottom: 30px;
}

#free {
  background-color: #206F9C;
  color: #fff;
  text-align: center;
  padding: 70px;
}
#free ul{
display: inline-block;
line-height: 3em;
margin-bottom: 3em;
list-style-type: none;
}

#button1 {
  display: flex;
  justify-content: center;
}


#button2 {
  display: flex;
  justify-content: center;
}

h2.title2 {
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #34495e;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
}

.row.row2 {
  margin: 0;
}

.row2 > div {
  text-align: center;
  background-color: #fff;
  color: #34495e;
  padding: 70px;
}

h2.title3 {
  display: flex;
  justify-content: center;
  background-color: #34495e;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
}
p{
  font-family: 'Roboto', sans-serif;
  line-height: 2em;
}


#used {
  background-color: #34495e;
  color: #fff;
  text-align: center;
  padding: 70px;
}

.floaty {
  background-color: #206F9C;
  z-index: 5;
}

.btn-success {
  background-color: #b12828;
  border-color: #debd27;
  border-width: 3px;
  margin-right: 50px;
}
.btn-success-delete{
  background-color: #b12828;
    border-color: #b12828;
    border-width: 3px;
    margin-right: 50px;
    color: #fff;
}
.btn-success-delete:hover{
  color: #b12828;
  background-color: #debd27;
  border-color: #debd27;
}
.btn-success-api{
  background-color: #b12828;
    border-color: #b12828;
    border-width: 3px;
    margin-right: 50px;
    color: #fff;
    font-size: 20px;
}

.btn-success-api:hover{
  color: #b12828;
  background-color: #debd27;
  border-color: #debd27;
  font-size: 20px;
}



.btn-success:hover {
  color: #b12828;
  background-color: #debd27;
  border-color: #b12828;
}

.btn-success.btn-success2 {
   background-color: #b12828;
   border-color: #debd27;
   border-width: 3px;
   margin: auto;
 }

 .btn-success.btn-success2:hover {
   color: #b12828;
   background-color: #debd27;
   border-color: #b12828;
 }

/* STRIPE PAYMENT */
.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.row2 p {
  margin-bottom: 60px;
}

.StripeElement--invalid {
  border-color: #fa755a;
  text-align: center;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/* NAVIGATION */
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 2px;

}

.navbar-nav li a:hover {
  color: #1abc9c;
}

/* Admin Page */
.bg-1 {
  padding: 20px;
  background-color: #1D4E69;
  color: white;
  text-align: center;
}

.bg-2 {
  height: 100px;
  padding: 30px;
  background-color: white;
  color: black;

}
.bg-3 {
  background-color: #1D4E69;
  color: white;
  padding: 20px;
  width: 80%;
  border-bottom: thick solid white;
}

.bg-3:nth-child(odd) {
  background-color: #206F9C;
}

.bg-3a {
  background-color: white;
}
/*login.hbs*/
.bg-4 {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  max-width: 530px;
  background-color: #bbbdbf;
  border-radius: 25px;
  border-style: solid;
  border-width: 10px;
  border-color: #273547
}
.btn-primary{
  color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    margin: 20px 0 20px 0;
}
label {
  padding: 10px;
}

.delete {
  margin: 20px;
}
/*modals*/
.btn btn-default{

}
.modal-dialog{
  display: flex;
  justify-content: center;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;


}
.modal-content{
  height: 420px;
  width: 540px;
  /*background-color: #206F9C;*/
  border-style:solid;
  border-width: 10px;
  border-color: #206F9C;
  border-radius: 25px;

}
.modal-header{
  padding: 25px 20px 25px 10px;
}

.submit{
  justify-content: center;
}
.modal-content .modal-footer{
  justify-content: center;
  margin: 30px 0 30px 0;
  /*background-color:#bbbdbf;
  color: #fff;*/

}
.modal-body {
  display: flex;
  justify-content: center;
  padding: 90px;
}
.input-bar{
  display: flex;
  justify-content: center;
}

.input-bar input {
  border-width: 3px;
  border-style:inset;
}
/*faq.hbs */
.faq-page {
  word-wrap:break-word;
}

.faq-page .row {
  margin: 0;
}

.faqQuestion {
  font-weight: bolder;
  font-size: 1.1em;
  top-margin: 5px;
  padding-bottom: 5px;
  line-height: 1.5em;
  padding: 0;
}
.faqAnswer {
  line-height: 30px;
}
.qa{
  padding-left: 45px;
}

.faqSection {
  padding-right: 0;
}

.faqSection2 {
  bottom-margin: 10px;
  background-color: #273547;
  color:#fff;
  padding: 40px;
  line-height:
}
.faqSection3{
  background-color: #206F9C;
  color: #fff;
  padding: 40px;
}
.faqSection4{
  background-color: #206F9C;
  color: #fff;
  width: 100%;
  height: 10em;
}
.faq1 {
  color: black;
  line-height: 3em;
}
#faq-header{
  display: flex;
  justify-content: center;
  background-color: #206F9C;
  color: #fff;
  margin: 0;
  padding: 95px;
}
#glogo {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.row10{
  margin:0;
}
/*console.hbs*/
.row-api h3{
  /*border-style: solid;*/
  border-width: 5px;
  border-radius: 10px;
  border-color: red;
  padding: 20px;
  margin: 10px;
  margin-bottom: 40px;
  background-color: rgba(255, 0, 0, 0.3);

}
