/*Navbar*/
@media (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .navbar-nav .nav-item {
    text-align: right;
  }
}

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead, .marketing, .footer {
      padding-right: 0;
      padding-left: 0;
    }
  }
@media (max-width: 768px) {
  #premium {
    background-color: #1D4E69;
  }
  h2.premium{
    background-color: #1D4E69;
  }
}

@media (max-width: 991px){
  .test-img{
    display:none
  }
}
@media(max-width: 991px){
  .navbar-collapse#navbar-main{
    display: none;
  }
  #nav-logo{
    display: none;
  }
}
@media(max-width: 1115px){
  p{
    font-size: 15px;
  }
}
@media(max-width: 600px){
  p.lead{
    font-size: 15px;
  }
}

/*buttons*/
@media(max-width: 1115px){
  .form-buttons{
    margin-left: 33px;
  }
  .btn-success{
    margin-right: 20px;
  }

}
@media(max-width:600px){
  .main-title .btn{
    font-size: 15px;
  }
}
@media(max-width: 792px){
  #free ul{
    line-height: 2em;
  }
}
/*@media(max-width: 780px){
#sub-frame-error{
  width: 200px;
  height: 200px;
}
}*/
@@media(max-width: 400px) {
  p.faqQuestion{

  }

}
