@media (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead, .marketing, .footer {
      padding-right: 0;
      padding-left: 0;
    }
  }
@media (max-width: 768px) {
  #premium {
    background-color: #1D4E69;
  }
  h2.premium{
    background-color: #1D4E69;
  }
}

@media (max-width: 991px){
  .test-img{
    display:none
  }
}
@media(max-width: 991px){
  .navbar-collapse#navbar-main{
    display: none;
  }
  #nav-logo{
    display: none;
  }
}
@media(max-width: 991px){
  .form-buttons{
    margin-left: 25px;
  }
  .btn-success{
    margin-right: 20px;
  }
}
